#appMenu{
    background-color: #191919;
    color:white;
    
}
.headerItem {
    color:white;
}
#header {
   background-color: #191919;
   color: white;
}

.accountListHeader {
   background-color: #121212;
   color: white;    
}

.accountEntry {
   background-color: #121212;
   color: white;
   spacing:0px;
}

.tabItem{
   background-color: #121212;
   color: white;    
    
}

#appMainTabs{
     background-color: #121212;
   color: white;     
}

.registryTransaction{
     background-color: #121212;
   color: white;     
    
}

#registryFilterControls{
     background-color: #121212;
   color: white;     
}
.registryFilter{
    color: black;     
}