#appMenu{
    background-color: #269abc;
       color: black;

}
.headerItem {
    color:000000;
}
#header {
   background-color: #269abc;
   color: black;
}
.mobileHeader {
 font-size: 20px;   
}
.accountListHeader {
   background-color: #269abc;
   color: black;    
}

a.refresh {
    background-image: url(images/refresh16x16.png);
    width:16px 16px;
}
