<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd
"
            
       default-init-method="init" default-destroy-method="destroy">
  
  
  
    <bean id="applicationState" class="com.hf.hfw.application.ApplicationState" init-method="init">
        <property name="configurationDirectoryService" ref="configurationDirectoryService"/>
        <property name="dbFactory" ref="dbFactory"/>

    </bean>
    <bean id="configurationDirectoryService" class="com.hf.hfw.application.ConfigurationDirectoryService">
      
    </bean>
    <bean id="dbFactory" class="com.hf.hfw.application.DBFactory">
      
    </bean>
  
</beans>