<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="accountDAO" class="com.hf.hfw.dao.mongo.AccountDAOImpl">    
    	<property name="dbFactory" ref="dbFactory"/>
    </bean>
     <bean id="registerDAO" class="com.hf.hfw.dao.mongo.RegisterDAOImpl">    
    	<property name="dbFactory" ref="dbFactory"/>
    </bean>
    <bean id="budgetDAO" class="com.hf.hfw.dao.mongo.BudgetDAOImpl">    
    	<property name="dbFactory" ref="dbFactory"/>
    </bean>
    <bean id="repositoryBasedSettingDAO" class="com.hf.hfw.dao.mongo.RepositoryBasedSettingDAOImpl">    
    	<property name="dbFactory" ref="dbFactory"/>
    </bean>
    <bean id="scheduledTransactionDAO" class="com.hf.hfw.dao.mongo.ScheduleTransactionDAOImpl">    
    	<property name="dbFactory" ref="dbFactory"/>
    </bean>
    <bean id="notificationDAO" class="com.hf.hfw.dao.mongo.NotificationDAOImpl">
        <property name="dbFactory" ref="dbFactory" />
    </bean>
    <bean id="dailyBalanceDAO" class="com.hf.hfw.dao.mongo.DailyBalanceDAOImpl">
        <property name="dbFactory" ref="dbFactory" />
    </bean>
</beans>