<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


 <bean id="accountDAO" class="com.hf.hfw.dao.mongo.AccountDAOImpl">    
    	<property name="mongoTemplate" ref="mongoTemplate"/>
    </bean>
     <bean id="registerDAO" class="com.hf.hfw.dao.mongo.RegisterDAOImpl">    
    	<property name="mongoTemplate" ref="mongoTemplate"/>
    </bean>
</beans>