<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/data/mongo
      http://www.springframework.org/schema/data/mongo/spring-mongo-1.2.xsd"
		   >

<!-- 
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://127.0.0.1:3306/eoci"/>
    <property name="username" value="eoci_sys"/>
    <property name="password" value="eoci_sys"/>
</bean>
-->
	<mongo:mongo host="127.0.0.1" port="27017" />
	<mongo:db-factory dbname="hfw-web" />
 
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	  <bean id="mongoConfigBean" class="org.springframework.data.mongodb.core.MongoFactoryBean">
    	<property name="host" value="localhost"/>
  	</bean>
	 <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
</beans>