<div >
 <table class="table table-striped">
  <tbody><tr ng-repeat="x in accounts">
    
    <td>{{ x.name }}</td>
    <td>{{ x.currentBalance | currency }}</td>
    <td><button ng-click="clickGoButton(x)">Go</button></td>
  </tr></tbody>
</table>
    Account Name:<input typ="text" ng-model="formData.name"><br>
    Account Number:<input typ="text" ng-model="formData.accountNumber"><br>
    Opening Balance:<input typ="text" ng-model="formData.startingBalance"><br>
    <button ng-click="addAccount()">Add the Account!</button>
</div> 